@inherits DashboardBase

@page "/dashboard"

@using BlazorApp1.Data

<h3>Dashboard</h3>

<ExcelDatasource @bind-PromoDataList="@PromoDataList"></ExcelDatasource>


<div class="row">
    <div class="col">
        <RadzenComponent Source="@PromoDataList.GetPerGeoLocationMetrics()" Title="Geo Location" Description="Per Geo Location"></RadzenComponent>
    </div>
    <div class="col">
        <RadzenComponent ChartType="MyChartType.Pie" Source="@PromoDataList.GetPerStoreMetrics()" Title="Store" Description="Per Store"></RadzenComponent>
    </div>
</div>
<div class="row">
    <div class="col">
        <RadzenComponent ChartType="MyChartType.Bar" Source="@PromoDataList.GetPerDateMetrics()" Title="Date" Description="Per Date"></RadzenComponent>
    </div>
    <div class="col">
        <RadzenComponent ChartType="MyChartType.Donut" Source="@PromoDataList.GetPerEntryMetrics()" Title="Entry" Description="Per Entry"></RadzenComponent>
    </div>
</div>


