@inherits ExcelDatasourceBase
<div class="row">
    <div class="col-3">
        <h3>Excel Datasource</h3>
    </div>
    <div class="col-9">
        Folder: @_selectedFolder
    </div>
</div>

<div class="row">
    <div class="col-8">
        <RadzenDropDown @ref="_dropDown"
                        AllowClear="false"
                        TValue="string"
                        Data="@_files"
                        Style="margin-bottom: 20px; width: auto"
                        Change="@(args=>OnSelectedFileChanged(args.ToString()))" />
    </div>
    <div class="col-4">
        Show Sheets <RadzenCheckBox @bind-Value="@_isSheetSelectionVisible" Style="margin-bottom: 20px" TValue="bool" Change="@(args => _isSheetSelectionVisible = args)" />
    </div>
</div>



@if (_isSheetSelectionVisible)
{
    <div class="row">
        <div class="col-12">
            <RadzenRadioButtonList @ref="_selectedSheetButtons" @bind-Value="@_selectedSheet" TValue="string" Change="@(args=> OnSelectedSheetChanged(args.ToString()))">
                <Items>
                    @foreach (string sheet in Sheets)
                    {
                        <RadzenRadioButtonListItem Text="@sheet" Value="sheet" />
                    }
                </Items>
            </RadzenRadioButtonList>
        </div>
    </div>
}


@*<div class="row">
        <h4>Sheets</h4>
        <ul>
            @foreach (string sheet in Sheets)
            {
                <li>
                    @if (sheet.Equals(_selectedSheet, StringComparison.OrdinalIgnoreCase))
                    {
                        <b>@sheet</b>
                    }
                    else
                    {
                        @sheet
                    }

                </li>
            }
        </ul>
    </div>*@

