@page "/"

@using BlazorApp1.Data
@inject ExcelService excelService


<div class="row">
    <div class="col-12">
        <PromoTable Data="@PromoDataList"></PromoTable>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <DynamicChart PromoData="@PromoDataList"></DynamicChart>
    </div>
    <div class="col-sm-6">
        <DynamicChart ChartType="ChartType.Line" PromoData="@PromoDataList"></DynamicChart>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <DynamicChart ChartType="ChartType.Pie" PromoData="@PromoDataList"></DynamicChart>
    </div>
    <div class="col-sm-6">
        <DynamicChart ChartType="ChartType.PolarArea" PromoData="@PromoDataList"></DynamicChart>
    </div>
</div>


@code{
    List<PromoData> PromoDataList { get; set; }

    protected override Task OnInitializedAsync()
    {
        PromoDataList = excelService.PromoData;

        return base.OnInitializedAsync();
    }

}
